.footer__rigth {
    display: flex;
    align-items: start;
    gap: 0 16px;
}

.footer__rigth-list-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.footer__right-list-wrapper {
    width: 200px;
}

.footer__landing-pages-mb {
    margin-bottom: 30px;
}

.footer__right-list-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    pointer-events: none;
}

.footer__right-list-item {
    font-size: 15px;
    line-height: 20px;
    color: #333;
    margin-top: 13px;
    transition: transform .1s ease-in-out;
}

.footer__right-list-item:hover {
    transform: scale(1.01) translate(2px);
}