.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-text {
    font-size: 10px;
    line-height: 1;
    color: #333;
    text-transform: uppercase;
}

.footer__gold-text {
    color: #E2B013;
}