.zero-design__info-top, .zero-design__info-bottom {
    display: flex;
    max-width: 380px;
    flex-wrap: wrap;
    gap: 8px 10px;
}

.zero-design__info-top {    
    margin-bottom: 8px;
}

.zero-design__info-item {
    font-size: 14px;
    color: #fff;
    background: #000;
    padding: 9px 30px 9px 16px;
}